.wrapper {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex:1;
  border-left: 1px solid #E9E9EB;
  z-index: 10;;
}

.mainWrapper { 
  display: flex;
}
