.wrapper {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(112, 139, 173);
}

header {
  background-color: rgb(105, 130, 163);
}
