.chat-message {
    margin: 15px;
}

.sent-container {
    display: flex;
    justify-content: flex-end;
}

.message-sent,
.message-received { 
    display: inline-block;
    padding: 15px;
    border-radius: 18px;
    font-size: 25px;
}

.username {
    font-weight: normal;
    position: relative;
    left: 75px;
    margin-bottom: 0;
    color: rgb(109, 106, 106);
}

.gray-bubble {
    position: relative;
    left: 10px;
    top: -12px;
    transform: scale(1.8, 1.8) rotate(20deg);
}

.blue-bubble {
    position: relative;
    left: -6px;
    top: 8px;
    transform: scale(1.8, 1.8) rotate(-20deg);
}