header {
  height: 100px;
  background-color: #f9f9f9;
  /* 
    Protip: layering multiple box shadows can create a
    richer shadow effect than just using a single one.
  */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15),
    0px 1px 0.5px rgba(0, 0, 0, 0.075);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.participant-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.participant-name {
  text-align: center;
  margin: 5px;
  font-weight: bold;
}
