* {
    margin: 0;
    padding: 0;
}

.my-div{
    display: flex;
    justify-content: flex-end;
    margin: 2vh 0.8vw;
}

.my-msg {
    font-weight: bold;
    color: white;
    background-color: lightgreen;
    padding: 0.8vw;
    border-radius: 20px;
}